<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Template</title>
</head>

<body>
    <div class="top-line"></div>
    <div class="wrapper">
        <header>
            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <div class="clear"></div>
        </header>
        <section class="img">
            <div class="black-box">
                <span>Here's some nice work</span>
                <a href="#">View portfolio </a>
                <div class="clear"></div>
            </div>
        </section>
        <section class="content">
            <div class="content-left">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero.</p>
                <a href="#">Read</a>
            </div>
            <div class="content-center">
                <h2>About us</h2>
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. </p>
                    </li>
                    <li>
                        <p>Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat.</p>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. </p>
                    </li>
                </ul>
            </div>
            <div class="content-right">
                <h2>Testimonials</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque.</p>
                <span>Rafi, Graphicsfuel.com</span>
            </div>
            <div class="clear"></div>
        </section>
        <section class="portfolio">
            <h2>Our portfolio</h2>
            <div class="portf">
                <img src="images/portfolio1.jpg" alt="Potfolio">
                <div class="link"><a href="#">View</a></div>
            </div>
            <div class="portf">
                <img src="images/portfolio2.jpg" alt="Potfolio">
                <div class="link"><a href="#">View</a></div>
            </div>
            <div class="portf">
                <img src="images/portfolio3.jpg" alt="Potfolio">
                <div class="link"><a href="#">View</a></div>
            </div>
            <div class="portf">
                <img src="images/portfolio4.jpg" alt="Potfolio">
                <div class="link"><a href="#">View</a></div>
            </div>
        </section>
        <section class="blog">
            <div class="left-blog">
                <h3>Blog updates</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero.</p>
            </div>
            <div class="right-blog">
                <h3>Connect with us</h3>
                <img src="images/twitter.png" alt="twitter">
                <img src="images/facebook.png" alt="facebook">
                <img src="images/two.png" alt="two">
                <img src="images/rss.png" alt="rss">
            </div>
            <div class="clear"></div>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <div class="text">
                <ul>
                    <li><a href="#">Home |</a></li>
                    <li><a href="#">About us |</a></li>
                    <li><a href="#">Portfolio |</a></li>
                    <li><a href="#">Services |</a></li>
                    <li><a href="#">Blog |</a></li>
                    <li><a href="#">Contact Us |</a></li>
                </ul>
                <div class="clear"></div>
                <p>&copy; 2010 CreativeStudio. All Rights Reserved</p>
            </div>
            <img src="images/logo-small.png" alt="logo-small">
        </div>
    </footer>
</body></html>